:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


 .header{
  text-align: center;
  font-weight: bold;
 }
 h1{
  text-shadow: 0px 2px 2px rgb(238, 236, 236);
 }
 /* style Link */
 a{
  color: white;
  text-decoration: none;
  padding: 10px;
 }

 

 form{
  margin-bottom: 10px;
 }
 input{
  width: 20em;
  height: 2.5em;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
   

 }
 button{
  width: 8em;
    height: 3em;
    margin: 4px;
      border-radius: 10px;
      background-color: #aca6a6;
      font-weight: bold;
          border: none;
          cursor: pointer;



 }

 .movie-card{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
  
 }


 /* styling items */
 .movie-item {
 
  border-radius: 10px; 
  box-shadow: 5px 5px 18px rgba(252, 248, 248, 0.397); 
  padding: 16px; 
  margin: 16px;
  width: 250px; 
  text-align: center; 

  
}
.movie-item img {
  border-radius: 10px; 
  margin-bottom: 12px; 
}
.movie-item h3 {
  font-size: 16px; 
  margin-bottom: 8px; 
}

.movie-item p {
  font-size: 15px; 
  color: #d4d0d0; 
}

/* Center the card-container */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full screen height */
   
   
}

/* Style the movie-card */
.movie-details {
   
    border-radius: 10px;
    box-shadow: 5px 5px 18px rgba(252, 248, 248, 0.397); 
    width: 100%; 
    max-width: 500px;
    padding: 20px; 
    text-align: center; 
}

/* Style the movie poster in MovieDetail*/
.movie-details img {
    border-radius: 10px; /* Rounded corners for the image */
    margin-bottom: 10px;
}

